<%- include('./partials/head'); %>
<body>
    <section class="content">
        <p>Personal Budget</p>
        <% if (typeof user == "object") { %>
            <div class="user-loged">
                <p class="user-logged"><i class='bx bx-user-circle'></i></i> <%= user.name %> </p> 
                <a href="/logout"><i class='bx bx-log-out-circle'></i></a>
            </div>
        <% } %>
    </section>
    <section class="form-content">
        <form class="form-op" id="formOperation"  onsubmit="onOperationSubmit(event)">
            <div id="errors-form"></div>
            <section class= "container-input">
                <input class="operation" type="name" name="concept" placeholder="Concepto">
                <input class="operation" type="number" name="amount" placeholder="Monto">
                <section class="container-date">
                    <input class="date" type="date" name="register_date" placeholder="Fecha">
                </section>
                <div class="container-type">
                    <label class="type-op" for="" > Tipo de Operación </label>
                    <select  class="select-op" id="" name="type_operation">
                        <option value="I">Ingreso</option>
                        <option value="E">Egreso</option>       
                    </select>
                </div>
            </section>
            <div class= "container-add">
                <input type="submit" value="Agregar" class="add-operation">
            </div>        
         </form>
    </section>
   <section>
       <div class="container-table">
            <table id="table-movements">
                <tr class="tittle-movements">
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Operación</th>
                    <th>Acciones</th>
                </tr>
                <% movements.forEach(movement => { %>
                    <tr class="inf">
                        <td id="<%= movement.id%>-1"><%= movement.concept %> </td>
                        <td><%= movement.amount %> </td>
                        <td><%= movement.register_date %> </td>
                        <td><%= movement.type_operation == "I" ? "Ingreso" : "Egreso" %> </td>
                        <td> 
                            <!-- <button class= "btn-edit-delet blue" onclick="editMovement('<%= movement.id %>')"><i class='bx bx-edit-alt'></i></button> -->
                            <button  class="btn-edit-delet red" onclick="deleteMovement('<%= movement.id %>')"><i class='bx bxs-trash-alt'></i></button>
                        </td>
                    </tr>
            <% }); %> 
            </table>
        </div>
   </section>
   <script src="js/main.js"></script>
</body>
</html>