<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Personal Budget</title>
</head>
<body>
    <section class="content">
        <p>Personal Budget</p>
        <% if (typeof user == "object") { %>
            <div class="user-loged">
                <p class="user-logged"><i class='bx bx-user-circle'></i></i> <%= user.name %> </p> 
                <a href="/logout"><i class='bx bx-log-out-circle'></i></a>
            </div>
            
        <% } %>
    </section>
    <section class="form-content">
        <form class="form-op" id="formOperation"  onsubmit="onOperationSubmit(event)">
            <div id="errors-form"></div>
            <section class= "container-input">
                <input class="operation" type="name" name="concept" placeholder="Concepto">
                <input class="operation" type="number" name="amount" placeholder="Monto">
                <section class="container-date">
                    <input class="date" type="date" name="register_date" placeholder="Fecha">
                </section>
                <div class="container-type">
                    <label class="type-op" for="" > Tipo de Operación </label>
                    <select  class="select-op" id="" name="type_operation">
                        <option value="I">Ingreso</option>
                        <option value="E">Egreso</option>       
                    </select>
                </div>
            </section>
            <div class= "container-add">
                <input type="submit" value="Agregar" class="add-operation">
            </div>        
         </form>
    </section>
   <section>
        <table id="table-movements">
            <tr>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Operación</th>
                <th>Acciones</th>
            </tr>
            <% movements.forEach(movement => { %>
                <tr>
                    <td><%= movement.concept %> </td>
                    <td><%= movement.amount %> </td>
                    <td><%= movement.register_date %> </td>
                    <td><%= movement.type_operation == "I" ? "Ingreso" : "Egreso" %> </td>
                    <td> 
                        <i class='bx bx-edit-alt'></i> 
                        <i class='bx bxs-trash-alt'></i>
                    </td>
                </tr>
           <% }); %> 
        </table>
   </section>
   <script src="js/main.js"></script>
</body>
</html>